/* UniEvent Font (Downloads the font from Google Fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


/*Resets browser-defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*The header section itself*/
.main-header {
    font-family: "Barlow", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-bottom: 3px solid #f2f2f4;
    padding-bottom: 8px;
}
/*The inside layout of the header*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 41px;  /* Border lenght control */
    width: 100%;
}




/*AAU Logo container from left to buttons*/
/*It makes a square which the image fills out, controling it placement*/
.logo-container {
    display: flex;
    flex: 1;
    justify-content: flex-START;
    overflow: hidden;

}
/*AAU students logo size control*/
.logo-img {
    max-width: 240px;
    height: auto;
}



/*Profile section from right to buttons*/
/*It makes a square which the icon and name fills out, controling it placement*/
.user-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    min-width: 0;
}
/*Profile picture and name placement*/
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}
/*Profile picture settings*/
.user-img {
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}
/*User-name settings*/
.user-name {
    max-width: 100%;
    margin-top: 6px;
    font-size: 24px;
    color: #211951;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Main Logo*/
.site-title{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    color: #211A52;
    font-size: 140px;
    line-height: 100px; 
    text-align: center;
    margin-bottom: 5px;
}

/* Buttons and Navigation Menu*/
.nav-menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav-links-container-header {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 3vw, 60px);
    width: 100%;
    padding-right: 5px;

}

/*Button Texst Design*/
.nav-link-header {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    color: #211951;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-decoration: none;

 /* Button Design */
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #F2F2F4; 
    color: #211951;
    display: flex;
    justify-content: center; 
    align-items: center;     
    border: none;
    transition: 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-link-header.active {
    background-color: #211951;
    color: #F2F2F4;
}

.nav-link-header:hover {
    background-color: #D1D1D4;
    color: #211951;
}











/* Footer Style */

.main-footer {
    background-color: #211951;
    color: white;
    padding: 60px 41px 30px 41px; 
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Logo øverst til venstre */
.footer-top {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.footer-logo {
    width: 220px;
}

/* Kolonnerne skubbet ud til siderne */
.footer-columns {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 60px;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

/*Link columns*/
.col-left,
.col-center,
.col-right {
    text-align: left; 
    align-items: flex-start; 
}


.footer-col h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 800;
}

.footer-col a, 
.footer-col p {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    transition: 0.3s;
}


/* Bundlinjen */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
}


.service-links {
    display: flex;
    gap: 30px;
}

.service-links a {
    color: #FFFFFF !important; 
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.service-links a:hover {
    text-decoration: underline;
    opacity: 0.7; 
}

/*Social Medias Container*/
.social-icons {
    display: flex !important;
    flex-direction: row !important; /* Tvinger dem på række */
    gap: 15px;
    align-items: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /* Gør dem hvide */
    display: block;
}

