.tag-visuel {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 4px 10px;
    height: 24px;
    border-radius: 12px; 
    border: 1.5px solid;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
   
}

[class^="tag-"] {
    text-transform: capitalize;
}

.tag-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* === EVENT TYPES === */

/* Academic */
.tag-academic,
.cat-academic {
    background: #e6e6ff;
    color: #4f46e5;
}

/* Career */
.tag-career,
.cat-career {
    background: #e0f2ff;
    color: #0284c7;
}

/* Creative */
.tag-creative,
.cat-creative {
    background: #fef3c7;
    color: #b45309;
}

/* Culture */
.tag-culture,
.cat-culture {
    background: #ffe4e6;
    color: #e11d48;
}

/* Food */
.tag-food,
.cat-food {
    background: #fff1e6;
    color: #ea580c;
}

/* Gaming */
.tag-gaming,
.cat-gaming {
    background: #e9d5ff;
    color: #b93bf3;
}

/* Outdoors */
.tag-outdoors,
.cat-outdoors {
    background: #dcfce7;
    color: #15803d;
}

/* Party */
.tag-party,
.cat-party {
    background: #ffe8f3;
    color: #f54c92;
}

/* Social */
.tag-social,
.cat-social {
    background: #fff3cd;
    color: #d39e00;
}

/* Sports */
.tag-sports,
.cat-sports {
    background: #e0f8eb;
    color: #17c964;
}

/* Volunteering */
.tag-volunteering,
.cat-volunteering {
    background: #c9fafc;
    color: #25ccff;
}

/* Wellness */
.tag-wellness,
.cat-wellness {
    background: #f3e8ff;
    color: #7c3aed;
}


/* === SEMESTERS === */
/* Shared style override*/
[class*="tag-semester"],
.cat-default {
    background: #f2f2f4;
    color: #211951;
}
