/*Page standard layout*/
body {
    font-family: "Barlow", sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}



/*Padding the page-layout*/
.events-section{
    margin: 25px 50px;
}


/*All of the titles for each section (My events, upcoming events etc.)*/
.section-title {
    color: #211951;
    margin-bottom: 20px;
    border-bottom: 3px solid #f2f2f4;
    padding-bottom: 8px;
}

/*Helps the scroll buttons - !!!might need better explanation!!!*/
.events-wrapper {
    position: relative;
}

.events-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 350px;
    gap: 30px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}



/*Event-card section*/
.event-card {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-icons {
    width: 20px;
    height: 20px;
}

.card-title {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #1a1654;
}

.card-desc {
    margin: 10px 0 20px 0;
    font-size: 14px;
    
    color: #777;
    background-color: #ffffff;
    /*This makes the description text always stay as 2 lines, filling the first line before moving to the second*/
    line-height: 1.4;
    min-height: calc(1.4em * 2);
    /*This clamps the text, cutting off overflowing text and putting in "..." instead*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines */
    line-clamp: 2;  
    overflow: hidden;
}

.card-info p {
    margin-bottom: 10px;
    font-size: 13px;
    color: #555;
    display: flex;
    gap: 10px;
}




/*Fixes line-overflow (NOT FINISHED!) COME BACK LATER*/
.card-title,
.card-info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines */
    line-clamp: 1;  
    overflow: hidden;
}

.read-more-btn {
    font-family: "Barlow", sans-serif;
    margin-top: auto;
    width: 100%;
    background-color: transparent;
    border: 1px solid #eaeaea;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #1a1654;
    transition: 0.2s;
}

.read-more-btn:hover {
    background-color: #f5f5f7;
}




/*Side-scrolling buttons*/
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;

    width: 40px;
    height: 60px;
    cursor: pointer;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

/* Optional hover effect */
.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}